<% if defined?(spree_signup_path) %>
  <h3 class="spree-mb-large spree-mt-large spree-header">회원이 아니신가요?</h3>
  <%= link_to '가입하기', spree_signup_path, class: "btn btn-block btn-outline-primary spree-btn #{registration_button}" %>
<% end %>
