

<div class="homepage-hero-image mb position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/diary_main.jpg') %>"
    alt="<%= Spree.t('homepage.summer_collection')%>" />
</div>

    <div>
        <br>
   
    </div> 
      
      
  <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/diary_sample.jpg') %>"
            >
      </div>
      
        <div class="center mb-3">
          <img class="w-100 lazyload"
             data-src="<%= asset_path('homepage/diary_sample02.jpg') %>"
            >
      </div>